.grid-gallery {
    background-color: var(--backgournd);
    display: flex;
    flex-wrap: wrap;
}

.gallery-img {
    width: 100%;
    padding: 6px;    
}

.gallery-img:hover {
    padding: 6px;
    box-shadow: 5px 10px 8px 10px #888888;
}


.search-gallery {
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search-gallery input {
    height: 30px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.search-gallery button {
    background-color: white;
    border: 0px;
}

canvas {
    display: none;
    /* width: 600px;
    height: 466px; */
    background-color: rgb(10, 10, 10, 0.1);
}