.meme-page {
    background-color: var(--backgournd);
}

.colors{
    display: flex;
    align-items: end;
}

.saved{
    height: 60px;
    display: flex;
    align-self: center;
    align-items: center;
}

.saved button{
    border: none;
    background-color: white;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    margin-inline-end: 6px;
    margin-inline-start: 6px;
    font-family: Montserrat-Regular;
}

.saved button:hover{
    background-color: #ff80009a;
}

.meme-font{
    display: flex;
    justify-content: center;
}

.meme-panel .font{
    border: none;
    border-radius: 10px 10px 10px 10px;
    align-items: center;
    height: 60px;
}

.meme-panel .font:hover{
        background-color: #ff80009a;
}

.meme-panel button {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20%;
    margin-block-start: 15px;
    margin-inline-start: 15px;
    cursor: pointer;
}

.meme-panel button:hover{
    background-color: #ff80009a;
}

.meme-panel label{
    cursor: pointer;
}

.meme-panel label img:hover{
    background-color: #ff80009a;
}

.meme-page .user-color img {
    height: 60px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20%;
    margin-block-start: 15px;
    margin-inline-start: 15px;
}

.meme-panel img {
    height: 100%;
    width: 100%;
    padding: 3px;
}

.canvas-text {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px 10px 10px 10px;
    height: 30px;
    /* width: 300px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.user-text {
    display: flex;
}

.canvas-container .set-line {
    height: 40px;
    width: 70px;
}


