* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: Montserrat-Regular;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.page-container {
    display: block;
    margin: 0 auto;

    /* height: 100vh; */
    width: 1200px;
    border: 1px solid rgba(0, 0, 0, 0.142);

}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    /* width: 600px; */
    background-color: #ff7f00;
    /* margin-top: 60px; */

}

.logo img {
    height: 22px;
    width: 133px;
}

.head-logo {
    margin-inline-start: 85px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    margin-inline-end: 60px;
}

.nav-bar li {
    color: aliceblue;
    text-decoration: none;
    margin-left: 16px;
    cursor: pointer;
}

.keywordsBtns {
    display: flex;
}

.keywordsBtns button {
    color: rgb(11, 11, 11);
    background-color: transparent;
    font-size: 20px;
}

.search-gallery a{
    color: black;
}


.footer-container {
    height: 200px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff7f00;
}

.footer-container .rights {
    font-family: Montserrat-Thin;
    color: white;
}